.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  font-size: 22px;
  background-color: rgb(34, 45, 133);
}
.nav__item {
  color: #fff;
  margin: auto 0;
}